@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.title2{
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

p {
    text-align: center;
    font-size: large;
    color: white;
    padding: 7%;
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: cadetblue;
}